@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans-all-regular.woff2") format("woff2"), url("../fonts/opensans-all-regular.woff") format("woff"), url("../fonts/opensans-all-regular.ttf") format("ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans-all-700.woff2") format("woff2"), url("../fonts/opensans-all-700.woff") format("woff"), url("../fonts/opensans-all-700.ttf") format("ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-all.woff2") format("woff2"), url("../fonts/roboto-all.woff") format("woff"), url("../fonts/roboto-all.ttf") format("ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Futura PT Book";
  src: url("../fonts/FuturaPTBook.otf") format("opentype");
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --navbar_width: 80vmax;
  --navbar_height: 3.9vmax;
  --navbar_padding: 7vmax;
  --body_padding: 13vmax;
  --submenu_body_padding: calc(var(--body_padding) * 1.15);
  --submenu_inner_padding: calc(var(--navbar_padding) * 0.5);
  --trapezio_button_height: 1.75vmax;
  --trapezio_button_width: 6vmax;
  --body_lower_padding: 23.5vmax;
  cursor: default;
}

html {
  height: 100%;
  padding: 0;
}

body {
  font-family: "Open Sans";
  font-weight: normal;
  font-size: .8vmax;
}

a {
  text-decoration: none;
}

a:visited {
  color: unset;
}

#app {
  margin: 0;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  background-size: 100% auto !important;
  background-repeat: repeat-y !important;
}

header {
  --input_height: 1.75vmax;
  --logo_width: 29.25vmax;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 var(--body_padding);
}

header #navbar {
  padding-right: var(--navbar_padding);
  width: var(--navbar_width);
  height: var(--navbar_height);
  background-position: center !important;
  background-size: 100% 100% !important;
  background-repeat: no-repeat !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

header #navbar .logo {
  height: var(--navbar_height);
  width: var(--logo_width);
  background-position: center !important;
  background-size: 100% 100% !important;
  background-repeat: no-repeat !important;
}

header #navbar .logo .logo_container {
  height: var(--navbar_height);
  width: var(--logo_width);
  position: relative;
}

header #navbar .logo .logo_container img {
  height: auto;
  width: 12vmax;
  position: absolute;
  top: 50%;
  left: var(--navbar_padding);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

header #navbar .logo .logo_container img:hover {
  cursor: pointer;
}

header #navbar .search_field {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header #navbar .search_field input {
  height: var(--input_height);
  width: 11vmax;
  padding: 0 1.5vmax;
  border: none;
  background-position: center !important;
  background-size: 100% 100% !important;
  background-repeat: no-repeat !important;
  font-size: .9vmax;
  text-transform: capitalize;
}

header #navbar .search_field input:focus {
  outline: none;
}

header #navbar .search_field input::-webkit-input-placeholder {
  color: black;
}

header #navbar .search_field input:-ms-input-placeholder {
  color: black;
}

header #navbar .search_field input::-ms-input-placeholder {
  color: black;
}

header #navbar .search_field input::placeholder {
  color: black;
}

header #navbar .expanded {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header #navbar .expanded .submit_btn {
  background: #0c87f2;
  color: #f6f6f6;
  text-transform: uppercase;
  border-radius: .25rem;
  height: var(--input_height);
  padding: 0 1.25vmax;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: .5vmax;
  letter-spacing: 0.075vmax;
  font-weight: bold;
}

header #navbar .expanded .submit_btn:hover {
  cursor: pointer;
}

header #navbar .expanded .language {
  margin-left: 2.75vmax;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header #navbar .expanded .language:hover {
  cursor: pointer;
}

header #navbar .expanded .language .lang_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #navbar .expanded .language .lang_icon img {
  height: calc(var(--input_height) - .5vmax);
}

header #navbar .expanded .language .iso639-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: .5vmax;
  font-size: 0.95vmax;
  text-transform: capitalize;
  color: #f6f6f6;
  text-decoration: underline;
}

footer {
  padding: 2.25vmax 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  --footer_height: 15.5vmax;
  height: var(--footer_height);
  position: relative;
  font-size: .8vmax;
  letter-spacing: .075vmax;
  font-family: "Futura PT Book";
  background-position: center !important;
  background-size: 100% 100% !important;
  background-repeat: no-repeat !important;
}

footer .main_content,
footer .copyright {
  z-index: 10;
}

footer .main_content .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1vmax;
}

footer .main_content .social .title {
  font-size: 1.9vmax;
}

footer .main_content .social .social_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .main_content .social .social_buttons a {
  --btn_size: 3vmax;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: var(--btn_size);
  width: var(--btn_size);
  border-radius: 50%;
  background-color: #e5e5e5;
  margin-left: 1vmax;
  -webkit-filter: drop-shadow(0.5vmax 0.5vmax 0.3vmax rgba(129, 129, 129, 0.75));
          filter: drop-shadow(0.5vmax 0.5vmax 0.3vmax rgba(129, 129, 129, 0.75));
}

footer .main_content .social .social_buttons a .social_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: .65vmax;
}

footer .main_content .other_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .main_content .other_links .link_row {
  padding: .35vmax 0;
}

footer .main_content .other_links .link_row .link {
  margin: 0 1vmax;
}

footer .copyright {
  text-align: center;
  width: 100%;
}

footer .footer_background_reflection {
  --img_fix: .5vmax;
  position: absolute;
  height: calc(var(--footer_height) + var(--img_fix));
  z-index: 6;
  top: calc(50% - var(--img_fix));
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
/*# sourceMappingURL=master.css.map */