@media screen and (max-width: 700px) {
    .modal-user-voice {
        padding: 25px;
    }
    .modal-user-voice-title {
        font-size: 24px;
    }
    .modal-smart-contract {
        padding: 15px;
    }
    .wink-slide {
        padding: 20px 0;
    }
    .legal_policy_title {
        font-size: 20px;
    }
    .legal-policy__section {
        font-size: 80%;
    }
}