@media screen and (max-width: 900px) {
    .header {
        display: none;
    }
    .mobile-header {
        display: flex;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
    }
    .logo img {
        width: 65%;
    }
    .header__button {
        display: block;
        margin: 0 auto;
        margin-top: 25px;
    }
    .mobile-header__button {
        display: block;
        width: 100%;
        max-width: 372px;
        padding: 23px;
        border-radius: 34px;
    }
    .blockchains {
        padding: 0;
        .blockchains-title {
            margin-top: 56px;
            font-size: 18px;
            align-self: flex-start;
        }
    }
    .blockchains-cut__list {
        flex-wrap: nowrap;
        flex-direction: column;
        margin-left: 0;
        align-items: flex-start;
    }
    .blockchains__section-list {
        position: relative;
        width: 350px;
        max-width: 100%;
        height: 60px;
        flex-direction: column;
        text-align: center;
        margin: 25px 0;
        padding: 16px;
        overflow: hidden;
        background: #FFFFFF;
        border: 1.5px solid $theme-color-1 !important;
        box-sizing: border-box;
        border-radius: 117px;
        align-items: flex-start;
        button {
            &:first-child {
                margin: 0 0 20px 0;
            }
            &.active {
                padding: 0;
                background: none;
                border-radius: 11px;
                color: black;
                &#allBtn {
                    background: none;
                }
            }
        }
    }
    .blockchains__section-list-active {
        height: auto;
        border-radius: 28px;
        z-index: 1;
        position: relative;
        align-items: flex-start;
    }
    .blockchains__section-list::before {
        content: '';
        position: absolute;
        right: 20px;
        width: 20px;
        height: 20px;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='19' height='19' viewBox='0 0 19 19' fill='none'%3e%3cpath d='M2 9.45715L9.38857 13.811L16.8284 9.37134' stroke='%231E46D4' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
    }
    .blockchains__section-list-active::before {
        top: 30px;
        transform: rotate(180deg);
    }
    .blockchains-cut__item::before,
    .blockchains-cut__item:last-child::before {
        content: none;
    }
    .blockchains-button-active {
        background: transparent;
        color: black;
    }
    .wrapper-blockchains {
        flex-direction: column;
        justify-content: center;
        width: 350px;
        max-width: 100%;
        margin: 0 auto;
    }
    .blockchains-button {
        padding: 17px 5px;
        margin-bottom: 15px;
        line-height: 0;
    }
    .blockchains-cut__item {
        margin-bottom: 15px;
    }
    .blockchains__list {
        background: transparent;
        flex-direction: column;
        align-items: flex-start;
        width: 350px;
        max-width: 100%;
        margin: 0 auto;
        padding: 0;
    }
    .blockchains__sub-list {
        flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
    }
    .blockchains__sub-item {
        flex: 1;
        margin: 0;
        margin-bottom: 15px;
        font-weight: 600;
        font-size: 16px;
        color: #2A3749;
    }
    .blockchains__list-title {
        margin-right: 0;
    }
    .blockchains-schedule__header {
        flex-direction: column;
    }
    .footer__wrapper {
        flex-direction: column;
    }
    .footer__title {
        margin-bottom: 20px;
        text-align: center;
    }
    // .footer__list {
    //     flex-wrap: wrap;
    //     padding: 0 15px;
    // }
    // .footer__item {
    //     flex: 1 50%;
    //     margin: 25px 0;
    // }
    // .footer__item:nth-child(2n)::before {
    //     content: none;
    // }
    // .footer__item::before,
    // .footer__item:last-child::before {
    //     content: '';
    //     right: -10%;
    //     width: 36%;
    // }
    // .footer__item:last-child::before {
    //     content: none;
    // }
    .blockchains-table__header {
        flex-direction: column;
    }
    .blockchains-table__button {
        border: none;
        margin-bottom: 15px;
        margin-right: 0;
    }
    .blockchains-table__button-active {
        background: transparent;
        color: black;
    }
    .blockchains-table .blockchains-table__header-wrapper {
        padding: 16px;
    }
    .blockchains-table__header-text {
        margin: 0;
        margin-bottom: 15px;
    }
    .blockchains-table__button-24h-active {
        background: transparent;
        color: black;
    }
    .blockchains-button-all-active {
        background: transparent;
        color: black;
    }
    .mobile-blockchains-table-item {
        display: flex;
        width: 65vw;
        justify-content: space-between;
    }
    .mobile-blockchains-table__item {
        display: block;
    }
    .blockchains-table__img-h-auto {
        height: auto;
        width: auto;
    }
    .mobile-search-input {
        display: block;
    }
    .contact-input {
        margin: 25px;
        margin-left: 0;
    }
    .dapp-title {
        font-size: 30px;
    }
    .submit-drapp {
        margin-bottom: 50px;
    }
    .wink-about-text {
        margin-top: 53px;
        margin-bottom: 30px;
    }
    .wink-link-wrapper {
        flex-direction: column;
        align-items: flex-start;
    }
    .wink-about__link:first-child::before {
        content: none;
    }
    .wink-about__link {
        margin-top: 0;
    }
    .user-link-title {
        width: 100%;
        font-size: 30px;
    }
    .wink-about-btn {
        width: 100%;
        max-width: 372px;
    }
    .wink-slide-wrapper {
        flex-direction: column;
    }
    .wink-slide-inf {
        margin-top: 25px;
    }
    .wink-slide_list {
        max-width: 100%;
        margin: 0 auto;
    }
    .wink-about-wrapper {
        margin-left: 0;
    }
    .blockchains-info-wrapper {
        justify-content: space-between;
        flex-direction: column;
        max-height: 400px;
    }
    .blockchains-info__item {
        width: 200px;
    }
    .blockchains-schedule-title {
        align-self: flex-start;
        font-size: 30px;
    }
    .blockchains-schedule__img img {
        width: 920px;
        max-width: 920px
    }
    .blockchains-schedule__img {
        overflow: auto;
    }
    .blockchains-schedule_check {
        align-self: flex-start;
        width: 100%;
        justify-content: center;
    }
    .blockchains__sub-item-active {
        border: none;
    }
    .blockchains-cut__list::before {
        left: 13%;
    }
    .legal-policy__title__section {
        text-align: center;
        .legal_policy_title {
            font-size: 30px;
            padding-bottom: 20px;
        }
    }
    .block-menu {
        max-width: 90%;
    }
    .legal-policy__section {
        padding: 70px 0px;
        li {
            margin: 5px 0px 5px 20px;
        }
        .sub-section {
            padding: 15px 0px;
        }
        .section-title {
            padding-bottom: 10px;
        }
        p {
            padding-bottom: 5px;
        }
        &:last-child {
            padding-bottom: 50px;
        }
    }
    footer {
        border: none;
        .footer__nav {
            margin: 35px 0 80px 0;
            display: block;
            width: 100%;
            white-space: normal;
            text-align: center;
            .footer__item {
                align-items: center;
                display: inline-block;
                position: relative;
                text-align: center;
                font-size: 16px;
                white-space: nowrap;
                a {
                    display: inline;
                    text-align: start;
                    padding: 20px 50px;
                    border: none;
                }
            }
        }
        // .footer__nav {
        //     margin: 35px 0 80px 0;
        //     display: flex;
        //     width: 100%;
        //     white-space: normal;
        //     text-align: center;
        //     flex-direction: column;
        //     flex-wrap: wrap;
        //     padding: 0 15px;
        //     .footer__item {
        //         width: 100%;
        //         align-items: center;
        //         display: inline-block;
        //         position: relative;
        //         text-align: center;
        //         font-size: 16px;
        //         // white-space: nowrap;
        //         // flex: 1 50%;
        //         margin: 25px 0;
        //         a {
        //             flex: 1;
        //             text-align: center;
        //             // padding: 20px 50px;
        //             border: none;
        //         }
        //     }
        // }
        .footer__item {
            flex: 1 50%;
            margin: 25px 0;
        }
        // .footer__item:nth-child(2n)::before {
        //     content: none;
        // }
        // .footer__item::before,
        // .footer__item:last-child::before {
        //     content: '';
        //     right: -10%;
        //     width: 36%;
        // }
        // .footer__item:last-child::before {
        //     content: none;
        // }
    }
    .blockchain-dropdown {
        display: block;
        position: relative;
        margin: 0 auto 25px auto;
        width: 350px;
        align-items: center;
        .field {
            line-height: 141.19%;
            padding: 18px;
            padding-right: 0px;
            border: 1.5px solid $theme-color-1;
            border-radius: 34px;
            height: 60px;
            max-width: 100%;
            width: 350px;
            cursor: pointer;
            .dropdown-current {
                font-family: "Open Sans";
                font-size: 16px;
                z-index: 10;
            }
            .dropdown-arrow {
                position: absolute;
                z-index: 3;
                top: 31px;
                right: 20px;
                transform: translateY(-50%);
                background: url($root+"images/select.svg") no-repeat;
                width: 20px;
                height: 15px;
            }
        }
        .option {
            position: absolute;
            top: 61px;
            display: none;
            list-style: none;
            margin-top: -1px;
            border: 1.5px solid $theme-color-1;
            border-top: none;
            border-bottom-left-radius: 34px;
            border-bottom-right-radius: 34px;
            width: 350px;
            min-width: 100%;
            padding: 0px;
            z-index: 4;
            background: white;
            overflow: visible;
            li {
                display: block;
                cursor: pointer;
                padding: 10px 18px;
                &:first-child {
                    background: transparent;
                }
                a {
                    text-decoration: none;
                    color: #000;
                }
                &:hover {
                    background: $theme-color-3;
                    &:last-child {
                        border-bottom-left-radius: 34px;
                        border-bottom-right-radius: 34px;
                    }
                }
            }
        }
    }
    .scroll-box {
        width: initial;
        padding: 0;
        margin: 0 0;
        .content-table {
            min-width: 400px;
            width: 100%;
            thead {
                display: none;
            }
            tbody {
                tr {
                    height: 81px;
                    display: flex;
                    vertical-align: middle;
                    &:first-child {
                        border-top: 1px solid #ACD6AE;
                    }
                    th {
                        flex: 2;
                        div {
                            height: 100%;
                        }
                    }
                    td {
                        display: flex;
                        height: 100%;
                        align-items: center;
                        flex: 1;
                        .value {
                            text-align: right;
                            margin-right: 20px;
                            width: 100%;
                        }
                        &.chain-td {
                            display: none;
                        }
                        &.category-td {
                            display: none;
                        }
                        &.balance-td {
                            display: none;
                        }
                        &.users-td {
                            .value {
                                margin: 0 0 21px 0;
                            }
                        }
                        &.volume-td {
                            display: none;
                        }
                        &.txs-td {
                            display: none;
                        }
                        .balance {
                            font-size: 16px;
                            right: 0px;
                            bottom: 17;
                        }
                    }
                }
            }
        }
    }
    .see-more {
        margin-right: 20px;
    }
}