@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans-all-regular.woff2") format("woff2"), url("../fonts/opensans-all-regular.woff") format("woff"), url("../fonts/opensans-all-regular.ttf") format("ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans-all-700.woff2") format("woff2"), url("../fonts/opensans-all-700.woff") format("woff"), url("../fonts/opensans-all-700.ttf") format("ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-all.woff2") format("woff2"), url("../fonts/roboto-all.woff") format("woff"), url("../fonts/roboto-all.ttf") format("ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Futura PT Book";
  src: url("../fonts/FuturaPTBook.otf") format("opentype");
  font-weight: normal;
}

.triangle {
  border-width: 3px;
  border-color: #0c87f2;
  border-style: solid;
  position: absolute;
  left: 1892px;
  top: 1598px;
  width: 16px;
  height: 15px;
  z-index: 179;
}

#top_ads {
  display: -ms-grid;
  display: grid;
  --img_height: 17.5vmax;
      grid-template-areas: "big_ad small_ads";
  padding: 1.5vmax 19vmax 2vmax;
}

#top_ads .big_ad {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: big_ad;
}

#top_ads .big_ad .img_container img {
  height: var(--img_height);
}

#top_ads .small_ads {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: small_ads;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: calc(var(--img_height) / 2) calc(var(--img_height) / 2);
      grid-template-rows: calc(var(--img_height) / 2) calc(var(--img_height) / 2);
}

#top_ads .small_ads a .img_container img {
  height: calc(var(--img_height) / 2);
}

@media (max-width: 768px) {
  #top_ads {
        grid-template-areas: "big_ad" "small_ads";
    padding: 1.5vmax;
    row-gap: .75vmax;
  }
  #top_ads .big_ad {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: big_ad;
  }
  #top_ads .big_ad .img_container img {
    height: auto;
    width: 100vw;
  }
  #top_ads .small_ads {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: small_ads;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50vw 50vw;
        grid-template-columns: 50vw 50vw;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
  }
  #top_ads .small_ads a .img_container img {
    height: auto;
    width: 50vw;
  }
}

#blockchain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 var(--submenu_body_padding);
}

#blockchain .blockchains_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 var(--submenu_inner_padding);
  height: var(--navbar_height);
  width: var(--navbar_width);
  background-position: center !important;
  background-size: 100% 100% !important;
  background-repeat: no-repeat !important;
}

#blockchain .blockchains_container .blockchain_label {
  font-size: 1.25vmax;
  color: #f6f6f6;
  font-weight: bold;
  text-transform: capitalize;
}

#blockchain .blockchains_container .blockchain_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0 1vmax;
}

#blockchain .blockchains_container .blockchain_buttons .blockchain_btn {
  height: var(--trapezio_button_height);
  width: var(--trapezio_button_width);
  background-position: center !important;
  background-size: 100% 100% !important;
  background-repeat: no-repeat !important;
  text-transform: uppercase;
  font-size: .6vmax;
  letter-spacing: .075vmax;
  color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

#blockchain .blockchains_container .blockchain_buttons .blockchain_btn.active {
  font-weight: bold;
}

#categories {
  --circle_size: 2.25vmax;
  --inner_circle: calc(var(--circle_size) * 0.4);
  padding: 4vmax calc(var(--submenu_body_padding) + var(--submenu_inner_padding)) 3vmax;
}

#categories .categories_label {
  font-weight: bold;
  font-size: 1.25vmax;
  text-transform: capitalize;
}

#categories .categories_container {
  --margin_top: .5vmax;
  margin-top: var(--margin_top);
  padding-left: 8vmax;
  padding-right: 1vmax;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#categories .categories_container .dotted_line {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  border-top: dotted #677c99 0.15vmax;
}

#categories .categories_container .circle_outer {
  height: var(--circle_size);
  width: var(--circle_size);
  border: #677c99 solid 0.1vmax;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

#categories .categories_container .circle_outer .category_option {
  position: absolute;
  top: -2vmax;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #677c99;
  letter-spacing: .075vmax;
  text-transform: capitalize;
  font-size: .9vmax;
  white-space: nowrap;
}

#categories .categories_container .circle_outer .circle_inner {
  height: var(--inner_circle);
  width: var(--inner_circle);
  background-color: #677c99;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#categories .categories_container .circle_outer.active {
  border: #0c87f2 solid 0.1vmax;
}

#categories .categories_container .circle_outer.active .category_option {
  font-weight: bold;
  color: #0c87f2;
}

#categories .categories_container .circle_outer.active .circle_inner {
  background-color: #0c87f2;
}

#dapp_table {
  --percent_bar_height: .3vmax;
  --percent_bar_width: 5vmax;
  padding: 0 calc(var(--submenu_body_padding) + var(--submenu_inner_padding));
}

#dapp_table table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 .3vmax;
}

#dapp_table table thead th:first-child {
  width: 0;
}

#dapp_table table thead .period_select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#dapp_table table thead .period_select .button {
  height: var(--trapezio_button_height);
  width: var(--trapezio_button_width);
  position: relative;
  cursor: pointer;
}

#dapp_table table thead .period_select .button .period {
  --gap: .35vmax;
  position: absolute;
  top: 0;
  height: var(--trapezio_button_height);
  width: var(--trapezio_button_width);
  background-position: center !important;
  background-size: 100% 100% !important;
  background-repeat: no-repeat !important;
  text-transform: uppercase;
  font-size: .6vmax;
  letter-spacing: .075vmax;
  color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#dapp_table table thead .period_select .button .period#_24h {
  left: var(--gap);
}

#dapp_table table thead .period_select .button .period#_7d {
  right: var(--gap);
}

#dapp_table table thead .period_select .button .period.active {
  font-weight: bold;
}

#dapp_table table thead .thead_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: .75vmax;
  text-transform: capitalize;
  font-weight: normal;
  color: #677c99;
}

#dapp_table table thead .thead_item .help {
  height: 1vmax;
  width: 1vmax;
  margin: .25vmax;
  border: 0.15vmax solid #d0d0d0;
  border-radius: 50%;
  position: relative;
}

#dapp_table table thead .thead_item .help:hover {
  cursor: help;
}

#dapp_table table thead .thead_item .help span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: .75vmax;
  font-weight: lighter;
}

#dapp_table table thead .thead_item .sort {
  margin: .25vmax;
}

#dapp_table table thead .thead_item .sort img {
  height: .5vmax;
}

#dapp_table table thead .thead_item .breaklines {
  text-align: start;
}

#dapp_table table tbody:before {
  content: ".";
  display: block;
  line-height: 1vmax;
  text-indent: -100vw;
}

#dapp_table table tbody tr {
  position: relative;
  height: var(--navbar_height);
}

#dapp_table table tbody tr .row_bg,
#dapp_table table tbody tr .bg_active {
  position: absolute;
  height: 100%;
  left: 50%;
  top: 50%;
  z-index: 5;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: calc(100% + calc(var(--submenu_inner_padding) * 2));
  background-position: center !important;
  background-size: 100% 100% !important;
  background-repeat: no-repeat !important;
}

#dapp_table table tbody tr .bg_active {
  width: 100%;
  opacity: 0;
  z-index: 6;
}

#dapp_table table tbody tr td {
  position: relative;
  min-width: 4vmax;
}

#dapp_table table tbody tr td * {
  z-index: 10;
}

#dapp_table table tbody tr td .dapp_name,
#dapp_table table tbody tr td .value {
  font-size: .9vmax;
}

#dapp_table table tbody tr td .picture_and_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#dapp_table table tbody tr td .picture_and_name .picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

#dapp_table table tbody tr td .picture_and_name .picture img {
  height: calc( var(--navbar_height) - .4vmax);
}

#dapp_table table tbody tr td .picture_and_name .dapp_name {
  margin-left: .5vmax;
  color: black;
}

#dapp_table table tbody tr td .cell {
  position: absolute;
  top: .75vmax;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#dapp_table table tbody tr td .cell .value {
  text-align: center;
  white-space: nowrap;
}

#dapp_table table tbody tr td .cell .percent_row {
  padding: .25vmax 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: .6vmax;
}

#dapp_table table tbody tr td .cell .percent_row .percent_right {
  color: #0c87f2;
}

#dapp_table table tbody tr td .cell .percent_bar_container .percent_bar {
  position: relative;
  height: var(--percent_bar_height);
  width: var(--percent_bar_width);
}

#dapp_table table tbody tr td .cell .percent_bar_container .percent_bar .percent_bar_background,
#dapp_table table tbody tr td .cell .percent_bar_container .percent_bar .current_percentage {
  height: var(--percent_bar_height);
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#dapp_table table tbody tr td .cell .percent_bar_container .percent_bar .percent_bar_background {
  width: 100%;
}

#dapp_table table tbody tr td .cell .percent_bar_container .percent_bar .current_percentage {
  width: 65%;
}

#dapp_table table tbody tr:hover {
  cursor: pointer;
  color: #f6f6f6;
}

#dapp_table table tbody tr:hover .bg_active {
  top: 2.15vmax;
  height: 120%;
  -webkit-transition: ease-in .1s;
  transition: ease-in .1s;
  opacity: 1;
}

#dapp_table table tbody tr:hover .percent_right {
  color: #f6f6f6 !important;
}

#dapp_table .see_more {
  width: 100%;
  text-align: right;
  text-transform: capitalize;
  color: #0c87f2;
  text-decoration: underline;
  font-size: .8vmax;
}

#dapp_table .see_more .text {
  padding: 1vmax 2vmax;
}

#dapp_table .see_more .text:hover {
  cursor: pointer;
}

#info {
  padding: 0 var(--body_lower_padding);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#info .info_item {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#info .info_item .info_title {
  color: #677c99;
  font-size: 1vmax;
  padding: 1vmax 0;
}

#info .info_item .info_value {
  color: #0c87f2;
  font-size: 1.4vmax;
}

#info .info_item.border {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#info .info_item.border .info_value {
  padding: .25vmax .5vmax;
  border: 2px solid #0c87f2;
  border-radius: 30vmax;
}

#graphic_section {
  padding: 10vmax var(--body_lower_padding);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#graphic_section .upper_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#graphic_section .upper_row .title {
  font-size: 1.25vmax;
  font-weight: bold;
  text-transform: capitalize;
}

#graphic_section .upper_row .buttons {
  margin: 0 1.35vmax;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#graphic_section .upper_row .buttons .button_selector {
  --height: 2.3vmax;
  --padding: .25vmax;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  height: var(--height);
  line-height: var(--height);
  width: calc(6.75vmax - var(--padding) * 2);
  padding: 0 var(--padding);
  margin: 0 .25vmax;
  font-size: .8vmax;
  border: 0.11vmax solid #0c87f2;
  border-radius: 35vmax;
  color: #677c99;
}

#graphic_section .upper_row .buttons .button_selector.active {
  color: #f6f6f6;
  background-color: #0c87f2;
  font-weight: bold;
}

#graphic_section .upper_row .buttons .button_selector:hover {
  cursor: pointer;
}

#graphic_section .graphic img {
  width: 100%;
}
/*# sourceMappingURL=index.css.map */