.wink-about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 85px 0;
}

.wink-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 350px;
}

.wink-link-wrapper {
    max-width: 100%;
    width: 100%;
    flex-direction: row;
}

.wink-about-img {
    margin-right: 38px;
    border-radius: 50%;
    overflow: hidden;
    width: 125px;
    height: 125px;
    align-self: flex-end;
}

.wink-title {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
    color: #2A3749;
}

.wink-about__section-list {
    width: auto;
}

.wink-about__item {
    display: flex;
    margin: 0 0;
    font-weight: 600;
    font-size: 15px;
}

.wink-about__inf {
    margin-left: 5px;
    font-weight: normal;
}

.wink-about-wrapper {
    width: 465px;
    max-width: 100%;
    flex-direction: column;
    align-self: flex-end;
}

.wink-about-text {
    color: #6A7C96;
    font-size: 16px;
    line-height: 24px;
}

.wink-about__link {
    flex: 1;
    position: relative;
    margin-top: 33px;
    font-size: 18px;
    color: $theme-color-1;
}

.wink-link {
    position: relative;
    text-decoration-line: underline;
    margin-right: 70px;
}

.wink-link::before {
    content: '';
    position: absolute;
    right: -35px;
    width: 1px;
    height: 26px;
    background: #B8B6CF;
}

.wink-about-btn {
    max-width: 217px;
    flex: 1 100%;
    padding: 23px;
    margin-top: 34px;
    background: $theme-color-1;
    border-radius: 34px;
    font-size: 18px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.wink-about-btn:focus {
    outline: none;
}

.wink-slide {
    position: relative;
    padding: 100px;
    background: #FAFBFC;
}

.wink-slide-inf {
    margin-top: -35px;
}

.wink-slide-inf-title {
    font-weight: bold;
    font-size: 20px;
}

.wink-slide-inf-sub-title {
    font-size: 16px;
}

.wink-slide-inf-list {
    display: flex;
    flex-direction: column;
}

.wink-slide-inf-item {
    display: flex;
    align-items: center;
    padding: 22px 0;
    padding-right: 50px;
    border-top: 1px solid #B8B6CF;
    cursor: pointer;
}

.wink-slide-inf-item:last-child {
    border-bottom: 1px solid #B8B6CF;
}

.wink-slide-inf-item-img {
    margin-right: 30px;
}

.wink-slide-inf-item-img img {
    border-radius: 10px;
}

.wink-slide-inf-title {
    margin-bottom: 18px;
    font-weight: 600;
    font-size: 16px;
}

.wink-slide-inf-text {
    color: #BFBFBF;
}

.wink-slide-wrapper {
    display: flex;
}

.wink-slide_list {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    max-width: 600px;
}

.wink-slide_list img {
    border-radius: 20px;
}

.wink-slide_list .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.wink-slide_list .slick-dots li button {
    font-size: 0;
    width: 4px;
    height: 4px;
    margin: 0 8px;
    background: black;
    border: none;
    border-radius: 50%;
}

.wink-slide_list .slick-dots li button:hover,
.wink-slide_list .slick-dots li button:focus {
    outline: none;
}

.wink-slide_list .slick-dots .slick-active button {
    position: relative;
}

.wink-slide_list .slick-dots .slick-active button::before {
    content: '';
    position: absolute;
    top: -6px;
    left: -6px;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background: rgba(124, 122, 221, 0.46);
    border: 0.5px solid #000000;
}

.apl-data {
    margin-bottom: 50px;
}

.apl-data_item {
    display: flex;
    flex-direction: column;
    padding: 22px 15px;
    /* margin-right: 25px; */
    margin-top: 33px;
    border: 2px solid #B8B6CF;
    border-radius: 31px
}

.apl-data_item-title {
    margin-bottom: 25px;
    margin-left: 30px;
    font-weight: 600;
    font-size: 16px;
}

.apl-data-item-text {
    margin: 3px 0;
    font-size: 13px;
    color: #6A7C96;
}

.apl-data-item-text-blue {
    color: blue;
}

.apl-data_item-transactions .apl-data-item-text-blue {
    color: orange;
}

.apl-data_item-volume .apl-data-item-text-blue {
    color: #008000b3;
}

.apl-data_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.apl-data-title {
    margin: 20px 0;
    font-family: "Open Sans Bold";
    font-weight: bold;
    font-size: 32px;
    color: $theme-color-1;
    letter-spacing: 1px;
}

.heading-text {
    width: 760px;
    max-width: 100%;
    font-size: 16px;
    color: #6A7C96;
    margin-bottom: 50px;
}

.wink-says-title {
    position: relative;
    width: max-content;
}

.wink-says-title::before {
    content: '';
    position: absolute;
    top: calc(50% + 5px);
    right: -50px;
    transform: translateY(-50%);
    background: url($root+"images/twitter.svg") no-repeat center;
    width: 25px;
    height: 25px;
    padding: 5px;
    border: 1px solid;
    border-radius: 10px;
}

.healing-wrapper {
    display: flex;
    flex-direction: column;
    width: 527px;
    padding: 10px 0;
    max-width: 100%;
    margin: 18px 0;
}

.healing-wrapper {
    border-bottom: 1px solid #B8B6CF;
}

.healing-data {
    margin-bottom: 10px;
    align-self: flex-end;
    font-size: 13px;
}

.healing-text {
    position: relative;
    padding-left: 20px;
    font-size: 16px;
    color: #6A7C96;
}

.healing-text::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    border-radius: 50px;
    background: $theme-color-1;
}

.see-more-healing {
    display: inline;
}


/* user-voice */

.user-voice {
    padding: 60px 0;
    background: #FAFBFC;
    position: relative;
    /* z-index: -2; */
}

.user-voice-z-index {
    z-index: -2;
}

.user-voice__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.user-voice__item {
    width: 298px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin: 25px 0;
}

.user-voice__item-disable {
    display: none;
}

.see-more-user-voice {
    flex: 1 100%;
}

.user-voice__wrapper {
    display: flex;
    justify-content: space-between;
    flex: 0 0 auto;
    margin-bottom: 30px;
}

.user-voice__name {
    color: #2A3749;
    font-weight: 600;
}

.user-voice__text {
    flex: 1 0 auto;
    margin-bottom: 30px;
    color: #6A7C96;
    font-size: 15px;
}

.user-voice__data {
    flex: 0 0 auto;
    font-size: 13px;
}

.user-voice__button {
    position: relative;
    width: 397px;
    max-width: 100%;
    margin-top: 80px;
    padding: 20px;
    background: $theme-color-1;
    border-radius: 34px;
    color: #FFFFFF;
    font-size: 18px;
    border: none;
    z-index: 1;
}

.user-voice__button:hover,
.user-voice__button:focus {
    outline: none;
    cursor: pointer;
}


/* !user-voice */


/* user-like */

.user-like {
    padding: 80px 0;
}

.user-link-title {
    color: $theme-color-1;
    font-weight: bold;
    font-size: 36px;
}

.user-like__list {
    display: flex;
    margin-top: 60px;
}

.user-like__item {
    display: flex;
    flex-direction: column;
    margin: 0 23px;
}

.user-like__item img {
    width: 65px;
    height: 70px;
    border-radius: 11px;
    overflow: hidden;
    border: 1px solid #B8B6CF;
}

.user-like__item:first-child {
    margin-left: 0;
}

.user-like__item:last-child {
    margin-right: 0;
}

.user-like__text {
    margin-top: 5px;
    font-size: 12px;
    text-align: center;
}


/* !user-like */

.smart-contract {
    position: relative;
    border: none;
    background: transparent;
}

.smart-contract:focus {
    outline: none;
}

.smart-contract::before {
    content: '';
    position: absolute;
    right: -25px;
    top: 7px;
    transform: translateX(-50%);
    border: solid $theme-color-1;
    border-width: 0 1px 1px 0;
    -webkit-transform: translateY(-50%) rotate(-45deg);
    transform: translateY(-50%) rotate(45deg);
    padding: 4px;
}


/* modal */

.modal-smart-contract {
    display: none;
    width: 600px;
    max-width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 70px;
    background: #FFFFFF;
    border-radius: 33px;
    z-index: 1;
}

.modal-smart-contract-active {
    display: block;
}

.modal-smart-cintract-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 60px;
}

.modal-smart-cintract-adress {
    margin: 15px;
    color: $theme-color-1;
    font-weight: 600;
    font-size: 18px;
}

.modal-smart-contract-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    border: none;
    background: transparent;
}

.modal-user-voice {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 750px;
    max-width: 100%;
    background: white;
    padding: 70px 170px;
    background: #FFFFFF;
    border-radius: 30px;
    z-index: 1;
}

.modal-user-voice-active {
    display: block;
}

.modal-user-voice-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: transparent;
    border: none;
}

.modal-user-voice-title {
    color: $theme-color-1;
    font-weight: bold;
    font-size: 36px;
}

.modal-user-voice-wrappe2 {
    display: flex;
    margin-bottom: 35px;
    justify-content: space-between;
}

.modal-user-voice-rating-txt {
    font-size: 18px;
}

.modal-user-voice-form-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
}

.modal-user-voice-name {
    font-size: 14px;
}

.modal-user-voice-name {
    padding: 10px;
    font-size: 14px;
    border: none;
    background: transparent;
    border-bottom: 1px solid #B8B6CF;
    ;
}

.modal-user-voice-name::placeholder {
    font-style: italic;
}

.modal-user-voice-name:hover,
.modal-user-voice-name:focus {
    outline: none;
}

.modal-user-voice-textarea {
    padding: 11px 15px;
    border: 1px solid #B8B6CF;
    border-radius: 4px;
    width: 410px;
    max-width: 100%;
    height: 172px;
    font-size: 14px;
}

.modal-user-voice-textarea:hover,
.modal-user-voice-textarea :focus {
    outline: none;
}

.sr-only {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%)
}

.span-confirm-input {
    position: relative;
    font-size: 14px;
    padding-left: 30px;
}

.span-confirm-input::before {
    content: '';
    position: absolute;
    left: 0;
    width: 18px;
    height: 17px;
    border: 1px solid #B8B6CF;
    border-radius: 4px;
}

.button-confirm-input {
    width: 400px;
    max-width: 100%;
    padding: 20px;
    margin-top: 30px;
    background: $theme-color-1;
    border-radius: 34px;
    font-size: 18px;
    color: #FFFFFF;
    cursor: pointer;
}

.confirm-input:checked+.span-confirm-input::after {
    content: '';
    position: absolute;
    left: 5px;
    top: 2px;
    width: 10px;
    height: 10px;
    background-image: url($root + "images/Vector 56.svg");
}


/* !modal */

.wink-flex {
    flex: 1;
}