@import './variables';
.footer {
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
    padding: 90px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    position: relative;
    border-top: 1px solid #99ACC6;
    background: #FAFBFC;
}

.index-footer {
    background: white;
}

.footer__wrapper {
    display: flex;
}

.footer__title {
    margin-right: 30px;
}

.soc {
    display: flex;
}

.soc-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 36px;
    margin: 0 10px;
    border: 1px solid #1F1F1F;
    border-radius: 10px;
    flex: 1;
    cursor: pointer;
}

.footer__list {
    display: flex;
    // text-align: center;
}

.footer__text {
    font-size: 15px;
    color: #686868;
}

.footer__nav {
    margin: 35px 0 80px 0;
    display: flex;
    // white-space: nowrap;
    .footer__item {
        width: 200px;
        display: flex;
        text-overflow: wrap;
        // white-space: normal;
        a {
            display: block;
            text-align: center;
            flex: 1;
            padding: 0px 20px;
            border-right: 1px solid $theme-color-1;
        }
        &:last-child a {
            border-right: none;
        }
    }
}