$root: "../";
$theme-color-1:#7BC143;
$theme-color-2:#ACD6AE;
$theme-color-3:#F1FFE2;
$theme-gradient-1:linear-gradient(89.7deg, rgba(251, 253, 243, 1) 0.43%, rgba(219, 239, 205, 1) 99.99%);
$negative-color: #EE6C6C;
$positive-color: #43C150;