#top_ads {
    display: grid;
    --img_height: 17.5vmax;
    grid-template-areas: "big_ad small_ads";
    padding: 1.5vmax 19vmax 2vmax;
    .big_ad {
        grid-area: big_ad;
        .img_container {
            img {
                height: var(--img_height);
            }
        }
    }
    .small_ads {
        grid-area: small_ads;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: calc(var(--img_height) / 2) calc(var(--img_height) / 2);
        a {
            .img_container {
                img {
                    height: calc(var(--img_height) / 2);
                }
            }
        }
    }
    @media (max-width: 768px) {
        grid-template-areas: "big_ad" "small_ads";
        padding: 1.5vmax;
        row-gap: .75vmax;
        .big_ad {
            grid-area: big_ad;
            .img_container {
                img {
                    height: auto;
                    width: 100vw;
                }
            }
        }
        .small_ads {
            grid-area: small_ads;
            display: grid;
            grid-template-columns: 50vw 50vw;
            grid-template-rows: auto auto;
            a {
                .img_container {
                    img {
                        height: auto;
                        width: 50vw;
                    }
                }
            }
        }
    }
}