@font-face {
    font-family: "Open Sans";
    src: url("../fonts/opensans-all-regular.woff2") format("woff2"), url("../fonts/opensans-all-regular.woff") format("woff"), url("../fonts/opensans-all-regular.ttf") format("ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/opensans-all-700.woff2") format("woff2"), url("../fonts/opensans-all-700.woff") format("woff"), url("../fonts/opensans-all-700.ttf") format("ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto-all.woff2") format("woff2"), url("../fonts/roboto-all.woff") format("woff"), url("../fonts/roboto-all.ttf") format("ttf");
    font-weight: normal;
}