@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans-all-regular.woff2") format("woff2"), url("../fonts/opensans-all-regular.woff") format("woff"), url("../fonts/opensans-all-regular.ttf") format("ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans-all-700.woff2") format("woff2"), url("../fonts/opensans-all-700.woff") format("woff"), url("../fonts/opensans-all-700.ttf") format("ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-all.woff2") format("woff2"), url("../fonts/roboto-all.woff") format("woff"), url("../fonts/roboto-all.ttf") format("ttf");
  font-weight: normal;
}

html {
  height: 100%;
  padding: 0;
}

body {
  font-family: "Open Sans";
  font-weight: normal;
  margin: 0;
}

a {
  text-decoration: none;
}

a:visited {
  color: unset;
}

#app {
  margin: 0;
  height: 100%;
  min-height: 100vw;
  width: 100%;
  background-size: 100% auto !important;
  background-repeat: repeat;
}

.triangle {
  border-width: 3px;
  border-color: #0c87f2;
  border-style: solid;
  position: absolute;
  left: 1892px;
  top: 1598px;
  width: 16px;
  height: 15px;
  z-index: 179;
}

header {
  --input_height: 2vmax;
  --navbar_height: 4vmax;
  --logo_width: 30vmax;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header #navbar {
  padding: 0;
  margin: 0 13vmax;
  width: 80vmax;
  height: var(--navbar_height);
  background-position: center !important;
  background-size: 100% 100% !important;
  background-repeat: no-repeat !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #navbar .logo {
  height: var(--navbar_height);
  width: var(--logo_width);
  background-position: center !important;
  background-size: 100% 100% !important;
  background-repeat: no-repeat !important;
}

header #navbar .logo .logo_container {
  width: var(--logo_width);
  position: relative;
}

header #navbar .logo .logo_container img {
  height: auto;
  width: 12vmax;
  position: absolute;
  top: -50%;
  left: -50%;
  -webkit-transform: translate(180%, 100%);
          transform: translate(180%, 100%);
}

header #navbar .search_field {
  padding: 0 .75vmax;
}

header #navbar .search_field input {
  height: var(--input_height);
  padding: 0 1.5vmax;
  border: none;
  background-position: center !important;
  background-size: 100% 100% !important;
  background-repeat: no-repeat !important;
}

header #navbar .search_field input:focus {
  outline: none;
}

header #navbar .search_field input::-webkit-input-placeholder {
  color: black;
}

header #navbar .search_field input:-ms-input-placeholder {
  color: black;
}

header #navbar .search_field input::-ms-input-placeholder {
  color: black;
}

header #navbar .search_field input::placeholder {
  color: black;
}

header #navbar .expanded {
  width: 100%;
  padding-right: 7vmax;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header #navbar .expanded .submit_link .submit_btn {
  background: #0c87f2;
  color: #f6f6f6;
  text-transform: uppercase;
  border-radius: .5rem;
  height: var(--input_height);
  padding: 0 1.5vmax;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: .65vmax;
}

header #navbar .expanded .language {
  padding-left: 2vmax;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header #navbar .expanded .language .lang_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #navbar .expanded .language .lang_icon img {
  height: calc(var(--input_height) - .5vmax);
}

header #navbar .expanded .language .iso639-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: .5vmax;
  text-transform: capitalize;
  color: #f6f6f6;
  text-decoration: underline;
}
/*# sourceMappingURL=master.css.map */