// COLORS
$dark-color1: #2A3749;
$dark-color2: #6F75D7;
$light-color1: #F0F1F6;
$light-color2: #C6C6C6;
$light-color3: #fff;
$middle-color1: #7D8591;
$middle-color2: #686868;
$negative-color: #EE6C6C;
$positive-color: #43C150;
$gradient1: linear-gradient(89.7deg, rgba(203, 199, 255, 0.2) 0.43%, rgba(122, 120, 220, 0.2) 99.99%);
$gradient-color2-start:#9C94FF;
$gradient-color2-middle1: #7C4EFE;
$gradient-color2-middle2: #E28181;
$gradient-color2-end:#DE9DDF;
$gradient2: linear-gradient(69.3deg, $gradient-color2-start 0%, $gradient-color2-middle1 0.01%, $gradient-color2-middle2 63.34%, $gradient-color2-end 100%);
$gradient3: linear-gradient(90deg, #9C94FF 0%, #B094FF 0.01%, #47D6B3 59.37%, #9BD8FB 100%);
$gradient4: linear-gradient(69.3deg, #94F9FF 0%, #5855D6 63.34%, #9DD3DF 100%);
$gradient5: linear-gradient(89.36deg, #FB9B9B 0.07%, #9C94FF 67.5%, #767CE2 99.66%);
$shadow1: "rgb(0, 0, 0, 0.5)";
// FONTS
$font1: "Open Sans";
$font2: "Roboto";
// DIMENSIONS
$margin-top-title: 85px;